@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://rsms.me/inter/inter.css");

@tailwind base;

html,
body {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 98%);
}

@tailwind components;
@tailwind utilities;
